.navbar {
    border: none;
}

.carousel-item {
    padding: 20px 40px;
}

.pg {
    color: gray;
}

.buy-now-button {
    color: black;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
}

.flex {
    padding: 60px 120px;
}

.seeall {
    color: goldenrod;
}

.custom-card{
    box-shadow: 5px 5px 10px gainsboro;
    font-size: large;
    padding: 20px 10px;
}
.custom-card img{
    width: 50%;
    margin-bottom: 10px;
}
.first .custom-card{
    border-radius: 0px 20px 0px 20px;
    margin-top: 115px;
    margin-left: 100px;
}
.second .custom-card{
    border-radius: 20px 0px 20px 0px;
    margin: 10px 0px;
}
.third{
    width: 10%;
    height: 0%;
}


