.navbar {
    border: none;
}

.carousel-item {
    padding: 20px 40px;
}

.pg {
    color: gray;
}

.buy-now-button {
    color: black;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
}

.flex {
    padding: 60px 120px;
}

.seeall {
    color: goldenrod;
}

.cat {

    padding: 30px 100px;
}

.container {
    padding: 5px 10px;
}

.cat1 {
    border: 2px black;
    border-top-left-radius: 5px;
    margin-trim: ;
}

.first{
    
}
